---
layout: index
title: "IGUs EN APLICACIONES DE ESCRITORIO"
subtitle: "Práctica 01_desktop"
summary: "En esta práctica vamos a aplicar los conocimientos adquiridos en las
          clases expositivas al desarrollo de una interface gráfica de usuaria
          en una aplicación de escritorio."
banner:
  src: "img/pexels-ken-tomita-389818.jpg"
  copy_url: "https://www.pexels.com/es-es/foto/apago-la-computadora-portatil-389818/"
  copy: "Ken Tomita"
---

nav#menu
    ul
        li
            a(href="howto") ¿ Cómo realizar la práctica ?
        li
            a(href="tarea_1") Tarea 1
        li
            a(href="tarea_2") Tarea 2
        li
            a(href="tarea_3") Tarea 3
        li
            a(href="tarea_4") Tarea 4

