---
layout: main
---
<!-- Content -->
<section>
  <header class="main">
    <h1>{{title}}</h1>
  </header>

  <span class="image main"><img src="{{ page.url | baseUrl }}{{banner.src}}" alt="" /></span>
  
  {{ content }}
  
</section>
	

